
<div class="row">
  <div class="col-sm-9">
    #if($allRestaurants.size() > 0)
      <ul>
        #foreach ($restaurant in $allRestaurants)
          <li>$restaurant.getName()</li>
        #end
      </ul>


    #end
  </div>
  <div class="col-sm-3">
    <a href="/new-restaurant">Add New Restaurant</a>
  </div>
</div>
