<h1>$cuisine.getType()</h1>

<h2>Restaurants:</h2>

<ul>
  #if ($cuisine.getRestaurants().size() != 0)
    #foreach($restaurant in $cuisine.getRestaurants())
      <h4><li><a href="restaurant/$restaurant.getId()">$restaurant.getName()</a></li></h4>
    #end
  #end

</ul>
